@import "../../app/variables.scss";

.projectTitle {
    color: $color-30;
    margin-top: 150px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;

    .project {        
        width: 300px;
        height: 400px;
        box-shadow: 0 0 5px 5px $color-shadow;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px; 
        box-sizing: border-box; 

        .title {
            align-self: flex-start;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .image {
            width: 150px;
            height: auto;
            margin-bottom: 20px;
        }

        .description {
            margin-top: auto;
            margin-bottom: 15px;
        }
    }
}