@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    transition: linear .1s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-60;
    text-align: center;
}

p, a {
    color: $color-10;
}

h2 {
    font-size: 28px;
}