@use "../../app/variables" as *; 

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  @media screen and (max-width: 1000px) {
    margin-top: 100px;
  }

  .title {
    color: $color-30;
    font-size: 70px;
  }

  .phrase {
    height: 35px;
    border-right: 2px solid;
    animation: blinkCursor 0.8s infinite;
    font-size: 24px;

    @keyframes blinkCursor {
      from {
        border-right: 2px solid;
      }

      to {
        border-right: 2px solid $color-60;
      }
    }

    @media screen and (max-width: 900px) {
      height: 30px;
      margin-top: 20px;
    }
  }

  .description {
    margin-top: 50px;
    width: 700px;
    font-size: 18px;

    @media screen and (max-width: 1000px) {
      width: 85%;
    }
  }
}
